.resources-container {
    height: 200vh;


    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    overflow: hidden !important;
    display: flex !important;
    align-items: center;
    z-index: 0;
}

.resource-glass {
    position: fixed !important;
    margin-top: -100vh;
    margin-left: 50%;
}

.resources-container span::after {
    opacity: 0 !important; 
    box-shadow: none !important;
    background: none !important;
    mask: none !important;
    transform: none !important;
    mix-blend-mode: none !important;
}



