.filter-options {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--clr);
    padding-left: 0.5rem;
    background-color: red;
    width: fit-content;
    text-align: left;
}


.filter-options label {
    font-size: 1rem;
    font-weight: bold;
    margin: 0px;
}

.filter-options label select {
    margin: 0px 2.25rem 0px 2.25rem;
    padding: 4px 6px;
    border: none;
    border-radius: 0.5rem;
    background-color: transparent;
    color: var(--clr);
    font-size: 14px;
}

.filter-options label select .select-default {
    color: gray !important;
}

.filter-tags-container {
    margin: 10px 0px 0px 0px;
}

.filter-tags-container {
    font-size: 14px;
}

.filter-tags-container span {
    font-size: 16px;
    font-weight: bold;
    display: block;
    margin-bottom: 0.5rem;
}

.filter-tags-container label {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    border: none;
    border-radius: 4px;
    background-color: transparent;
    color: var(--clr);
    font-size: 14px;
    font-weight: normal;
    appearance: none;

    margin-bottom: 0rem; /* optional spacing between items */

    align-items: center;
    /* This aligns the checkbox and text vertically */

}

.filter-tags-container input {
    margin-bottom: 4px;
}

.sort-label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: fit-content;
}

.sort-label label {
    margin: 0;
    font-weight: bold;
}

.sort-label select {
    padding: 4px 6px;
    border: none;
    border-radius: 0.5rem;
    background-color: transparent;
    color: var(--clr);
    font-size: 14px;
}

.filter-icon {
    vertical-align: middle;

}

.filter-glass svg {
    color: var(--clr);
}