.bottom-bar .glass {
    padding: 8px 8px !important;
    gap: 1rem;
    vertical-align: middle;
}

.bottom-bar {
    transform-origin: center;
    margin-left: 0px;
    vertical-align: middle;
    transition: transform 0.2s ease;
        will-change: transform;
    contain: layout paint style;
}

.bottom-bar:hover {
    scale: 1.2;
    margin-left: 20px;
    transition: all 0.2 ease;
}

.bottom-bar:hover~span {
    scale: 1.2;
    margin-left: 20px;
    transition: all 0.2 ease;
}

.btm-nav-item {
    border-radius: 60px;
    padding: 0.5rem;
    float: left;
    color: white;
    text-decoration: none;
}

.btm-nav-item {
    margin-right: 10px;
}


.btm-nav-item:last-of-type {
    margin-right: 0px;
}

.btm-nav-item.btm-active {
    background-color: var(--actv-hvr);
    transition: all 0.2 ease;
}

.btm-nav-item:hover {
    background-color: var(--actv-hvr);
    transition: all 0.2 ease;
}


.btm-nav-item.btm-active:hover {
    background-color: var(--actv-hvr);
    transition: all 0.2 ease;
}

:root[data-theme='light'] {
    --clr: black;
    --actv-hvr: rgba(0,0,0,0.15);
}

:root[data-theme='dark'] {
    --clr: white;
    --actv-hvr: rgba(255, 255, 255, 0.15);
}
@media screen and (max-width: 908px) {
    .btm-nav-item {
        color: var(--clr);
    }
}