.bottom-bar .glass {
    padding: 8px 8px !important;
    gap: 1rem;
    vertical-align: middle;
}

.bottom-bar {
    display: inline;
    vertical-align: middle;
}

.bottom-bar:hover {
    scale: 1.2;
    transition: all 0.2 ease;
}

.bottom-bar:hover~span {
    scale: 1.2;
    transition: all 0.2 ease;
}

.btm-nav-item  {
    border-radius: 60px;
    padding: 0.5rem;
    float: left;
    color: white;
    text-decoration: none;
}

.btm-nav-item  {
    margin-right: 10px;
}

.btm-nav-item :first-of-type {
    margin-left: 0;
}

.btm-nav-item:last-of-type {
    margin-right: 0px;
}

.btm-nav-item.btm-active  {
    background-color: rgba(0,0,0,0.1);
    transition: all 0.2 ease;
}

.btm-nav-item:hover {
    background-color: rgba(0, 0, 0, 0.1);
    transition: all 0.2 ease;
}


.btm-nav-item.btm-active:hover {
    background-color: rgba(0, 0, 0, 0.1);
    transition: all 0.2 ease;
}
