
.nav-item2 {
    align-items: center;
    color: white !important;
    text-decoration: none;
    transition: all 0.3s ease;
    white-space: nowrap;

    pointer-events: auto;
    font: 8px;
}

.bottombar-glass .glass {
    box-shadow: none !important;
}


.icon2 {
    float: left;
            display: block;
                padding: 0.5rem;
    margin: 0.3rem;
    border-radius: 2rem;
}


.bottombar-glass:hover {
    scale: 1.05;
}

.bottombar-glass:hover~span {
    scale: 1.05;
}





.nav-item2.active2 .icon2 {
    background-color: rgba(0,0,0,0.05);
    transition: all 0.2 ease;
}

.nav-item2:hover .icon2 {
    background-color: rgba(0,0,0,0.05);
    transition: all 0.2 ease;
}

