:root[data-theme='light'] {
    --bg-color: rgba(227, 240, 240, 1);
    --bg-gradient: linear-gradient(
        to bottom,
        #83c8d8 0%,
        #868686 50%,
        #737373 100%
    );
}

:root[data-theme='dark'] {
    --bg-color: #121212;
    --bg-gradient: linear-gradient(
        to bottom,
        #1397b4 0%,
        #121212 50%,
        #0e0e0e 100%
    );
}

body {
    background-image: var(--bg-gradient);
    background-color: var(--bg-color);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.3s ease, color 0.3s ease;
}

.bottom-bar {
    position: fixed;
}
