:root[data-theme='light'] {
    --bg-color: rgba(227, 240, 240, 1);
    --bg-contrast: #000405;
    --bg-gradient: linear-gradient(
        to bottom,
        #e1f6ff 0%,
        #dce9e9 50%,
        #dde4e3 100%
    );
}

:root[data-theme='dark'] {
    --bg-color: #121212;
    --bg-contrast: rgba(231, 231, 231, 0.2);
    --bg-gradient: linear-gradient(
        to bottom,
        #031216 0%,
        #0d1212 50%,
        #000405 100%
    );
}

html {
    background-color: var(--bg-color);
    background-attachment: fixed;
    background-repeat: no-repeat;
    transition: all 1s ease;
}
body {
    background-image: var(--bg-gradient);
    background-size: cover !important;
    background-position: center center !important;
    background-blend-mode: overlay;
    transition: all 1s ease, color 1s ease;
    overscroll-behavior-y:none;
    -webkit-overflow-scrolling: auto;
}

.bottom-bar {
    position: fixed;
}