:root[data-theme='light'] {
    --bg-color: rgba(227, 240, 240, 1);
    --bg-gradient: linear-gradient(
        to bottom,
        #ddf4ff 0%,
        #d8e3e5 50%,
        #ececec 100%
    );
}

:root[data-theme='dark'] {
    --bg-color: #121212;
    --bg-gradient: linear-gradient(
        to bottom,
        #031216 0%,
        #0d1212 50%,
        #000405 100%
    );
}

html {
    background-color: var(--bg-color);
    background-attachment: fixed;
    background-repeat: no-repeat;
    transition: all 1s ease;
}
body {
    background-image: var(--bg-gradient);
    background-size: cover !important;
    background-position: center center !important;
    background-blend-mode: overlay;
    transition: all 1s ease, color 1s ease;
    overscroll-behavior-y:none;
    -webkit-overflow-scrolling: auto;
}

.bottom-bar {
    position: fixed;
}
