.projects-container {
    height: 100vh;
    width: 100%;
    position: absolute;
    display: flex;
    flex-flow: column;
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    z-index: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.projects-content {
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    margin-bottom: 6vh;
}

.projects-card-container {
    padding: 2vh 120vh 4vh 6rem;
    display: flex;
    overflow-x: auto;
    flex-direction: row;
    align-items: center;
    margin-bottom: 4vh;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none;
    gap: 2rem;
}

.projects-container .projects-toolbar {
    flex: 0 1 auto;
}

.projects-container .projects-card-container {
    flex: 1 1 auto;
}

.prj-h1 {
    padding-left: 6rem;
    font-size: 2rem;
    margin: 0.8rem 0rem 0.3rem 0rem;
}

.projects-card-container>div {
    scroll-snap-type: x mandatory;
    scroll-snap-align: start;
    flex: 1 1 auto;
}

@media screen and (max-width: 908px) {
    .projects-card-container {
        padding: 1vh 4vh;
        transition: all 0.4s ease;
        margin-bottom: 10vh;
    }

    .prj-h1 {
        padding-left: 4vh;
        transition: all 0.4s ease;
    }

}